<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img style="display: none" src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Su trabajo se vera aqui</h5>
              <p class="card-text">Bienvenido a la seccion de nueva  publicacion</p>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Presione para cargar archivo</label>
                  <input  class="btn btn-primary stretched-link" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </form>
            </div>
          </div>
      </div>
      <div class="col">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Titulo</label>
                <input type="text" class="form-control" id="titulo" placeholder="Titulo">
              </div>
            </div>
            <div class="form-group">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Agregar</button>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                  </form>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripcion</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            </div>
           
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                 Confirmar
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
      </div>
</div>