<section class="page-top-section set-bg" data-setbg="../../../assets/img/sevice.png" style="background-image: url(../assets/img/service-bg.jpg);">
    <div class="container">
      <h2>Register</h2>
    </div>
    <br><br><br>
    <div class="container">
            <div class="row">
                <div class="col-lg-6 contact-text">
                    <div class="card card-default">
                        <div class="card-body">
                            <form action="#" class="contact-form">
                                <input class="form-control" type="text" placeholder="Name">
                                <br>
                                <input class="form-control" name="LastName" type="text" placeholder="Last Name">
                                <br>
                                <input class="form-control" name='nickname' type='text' placeholder="NickName"> 
                                <br>
                                <input class="form-control" type="password" name="" id="" placeholder="Password">
                                <br>
                                <input class="form-control" type="password" name="" id="" placeholder="Repeat Password">
                                <br>
                                <input class="form-control" type="text" name="" id="" placeholder="Direction">
                                <br>
                                <input class="form-control" type="text" placeholder="Phone Number">
                                <br>
                                <input class="form-control" type="date" name="" id="" placeholder="Date">
                                <br>
                                <button class="site-btn sb-c1">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <br><br><br><br><br><br>
                    <img src="../../../assets/img/icon_normativa.png" alt="">
                </div>
            </div>
        </div>
</section>
