<section class="page-top-section set-bg" data-setbg="../../../assets/img/sevice.png" style="background-image: url(../assets/img/service-bg.jpg);">
    <div class="container">
      <h2>Inicio de sesion</h2>
    </div>
    <br><br>
    <div class="container">
            <div class="row">
                <div class="col-lg-6 contact-text">
                    <div class="card card-default">
                        <div class="card-body">
                            <form action="#" class="contact-form">
                                <input class="form-control" name='nickname' type='text' placeholder="Nombre  de usuario"> 
                                <br>
                                <input class="form-control" type="password" name="" id="" placeholder="Contraseña">
                                <br>
                                <button class="btn btn-primary">Iniciar</button>
                                
                               
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../../../assets/img/icon_normativa.png" alt="">
                </div>
            </div>
        </div>
</section>
